*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#00ff00,#008080, #008000);
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1{
    color: darkslategrey;
    margin: auto;
    font-family: cursive;
    font-size: 70px;
    align-items: center;
    justify-content: center;
}